# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Mac
.DS_Store

# Windows
Thumbs.db

# Virtual Environment
venv/

# Others
youtube_downloads*/

# Test files
tests/

# Editor Configurations
.idea/

# Python
__pycache__/

# Pip
src/

# Jupyter Notebook
*.ipynb

# Text files
*.txt
!requirements.txt

# Comma-Separated Values (CSV) Reports
*.csv

# XLSX Reports
*.xlsx

# Excluded sites list
tests/.excluded_sites

# Vim swap files
*.swp